@font-face {
  font-family: "NotoSansHK-Bold";
  src: local("NotoSansHK"),
    url("./fonts/NotoSansHK/NotoSansHK-Bold.otf") format("truetype");
  font-weight: bold;
}

.header{
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
  position:-webkit-sticky;
}

.brandLine {
  height: 9px;
  background-color: #E50020;
}

.Navbar-Width {
  padding-left: 20px;
  padding-right: 20px;
}

.Logo-img {
  max-width: 85%;
  min-width: 83%;
}

.liveChat {
  border: solid 1px #4ECD5D;
  border-radius: 40px;
  margin: 0 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 16px;
}

.liveChat:hover{
  box-shadow: 1px 2px 8px #00000063;
}

.liveChat:active , [type="submit"]:active{
  transform:translateY(4px);
}

.liveChat-img {
  max-width: 20%;
  min-width: 18%;
}

.liveChat-text {
  color: #4ECD5D;
  white-space: nowrap;
}

.subscribe-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #E50020;
  padding: 10px 16px !important;
  margin: 0 8px;
}

.subscribe-top-button:hover{
  box-shadow:1px 2px 8px #00000063;
}

.subscribe-top-button:active,[type="submit"]:active,[type="button"]:active{
  transform:translateY(4px)
}

.subscrible-top-text {
  color: #FFFFFF;
  font-weight: 600;
  font-family: "NotoSansHK-Bold";
  white-space: nowrap;
}

.otherBenefit {
  margin: 0 8px;
}

.otherBenefit-text {
  font-family: "NotoSansHK-Bold";
  color: #696969;
}

.heroSection {
  padding-top:55.64%;
  background-image: url('./photo/i-CABLE\ Broadband_1000M_Hero\ Image_Desktop_778px.png');
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size:cover;
}

.why-feature {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 26px;
}

.why-feature-img {
  max-width: 22%;
  min-width: 350px;
  height: auto;
}

.why-explanation {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 46px;
}

.why-explanation-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 10%);
  margin: 8px 8px;
}

.why-icon {
  max-width: 50%;
  min-width: 80px;
  height: auto;
  margin: 16px;
}

.why-detail-title {
  font-family: "NotoSansHK-Bold";
  color: #101820;
  font-weight: 600;
  font-size: 24px;
}

.why-detail {
  max-width:300px;
  color: #101820;
  font-size: 18px;
  line-height: 32px;
}

.share {
  display: block;
  margin:26px;
}

.share-friend {
  font-weight: 700;
  font-size: 16px;
  font-family: "NotoSansHK-Bold";
  text-align:center;
  margin:26px 0;
}

.t-and-c-section {
  background-color: #F2F2F2;
  padding: 32px 16px;
}

.t-and-c {
  max-width: 1080px;
  margin: auto;
}

.t-and-c-text{
  font-weight: 600;
  font-family:"NotoSansHK-Bold";
  font-size:16px;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  background-color: #F2F2F2;
  margin:10px 0;
}

.t-and-c .collapse{
  margin-bottom:36px;
}

.accordion-body {
  padding: 0;
  font-size:14px;
}

.footer-logo {
  max-width: 5%;
  min-width: 50px;
  height: auto;
}

.footer-page {
  background-image: linear-gradient(180deg, #2A2C3E 0%, #020203 100%);
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  line-height: 42px;
}

.footer-page a{
  display:block;
  text-decoration: none;
  color:#FFFFFF;
}

.footer-img1 {
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.footer-img2 {
  max-width: 13%;
  height: auto;
  margin-right: 10px;
}

.footer-contact {
  display: flex;
  margin: 26px 0 16px 0;
}

.footer-contact1,
.footer-contact2 {
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.arrow {
  transition: transform 0.5s;
}

.arrow-up {
  transform: rotate(180deg);
}


.bottom-navbar{
  display:none;
  padding-bottom:0 !important;
  border-top:solid 2px #E50020;
  border-left:solid 2px #E50020;
  border-right:solid 2px #E50020;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  position:sticky;
  bottom:0;
  margin:30px 24px 0;
  background-color:#FFFFFF!important;
}


.bottom-nav{
  width:100%;
  display:flex;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 5px;
  background-color:#FFFFFF;
}

.nav-item-top{
  display:flex;
}



/* //ModalForm */

.modalForm-container{
  background-color:#000000a1;
  position:fixed;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.form-outermost{
  text-align: right;
}

.modal-delete-icon{
  cursor:pointer;
}

.form-outer{
  margin-top:22px;
  background-color:#E50020;
  max-width: 350px;
  border-radius:18px;
  padding-top:16px;
}

.form-outer-title{
  color:#FFFFFF;
  margin: 0 0 16px;
  text-align: center;
  font-weight: 700;
  font-family:"NotoSansHK-Bold"
}

.form{
  border-radius:16px;
  background-color:#FFFFFF;
  border: solid 1px #E5E5EA;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details{
 display:flex;
 flex-direction:column;
 justify-content: center;
 align-items:stretch;
 padding-left: 16px;
 padding-right:16px;
}

.details input, .details select{
  padding: 12px 16px;
  border-radius:5px;
  border: solid 1px #E5E5EA;
  margin-bottom:16px;
}

.details input:focus, .details select:focus{
  outline: none;
}

.form-title{
  line-height: 24px;
  color:#696969;
  font-weight:400;
  margin:16px 0;
  font-size:16px;
  border: solid 0px;
  text-align: center;
}

.form-Contact{
 display:flex;
 justify-content: space-between;
 align-items: center;
}

.form-Contact1{
   width:30%;
   margin-right:8px;
}

.form-Contact2{
 width:70%;
}

.form [type="submit"]{
  border-radius:100px;
  padding: 12px 48px;
  background-color:#E50020;
  border: solid 0px;
  color:#FFFFFF;
  font-size:16px;
  margin-bottom: 16px;
}

.form [type="button"]{
  border-radius:100px;
  padding: 12px 48px;
  background-color:#E50020;
  border: solid 0px;
  color:#FFFFFF;
  font-size:16px;
  margin-bottom: 16px;
}

[type="submit"]:hover, .form [type="button"]:hover{
  box-shadow: 1px 1px 10px #000000b7;
}

.callNow,.whatsappNow{
  text-align:center;
  color:#696969;
  padding:32px;
}

.errorHightlight{
  background-color: #ff375f09;
   border: solid 1px #FF375F!important;
}

.form-contact4{
  display:flex;
  align-items: center;
}

.form-contact4 > *{
  font-size:13px;
  color:#FF375F;
  margin-left:4px;
}

.errorNotice{
  background-color: #ff375f2f;
  border: solid 1px #FF375F!important;
  padding:8px 16px;
  width:100%;
  border-radius:5px;
  margin-bottom:16px;
}


/* break-point */

@media screen and (max-width: 991px) {
  .heroSection {
    background-image: url('./photo/i-CABLE Broadband_1000M_Hero Image_mobile_375px.png');
    padding-top:138.2%;
  }

  .why-explanation {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    grid-auto-rows: auto auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    max-width: 1440px;
    margin: auto;
    padding: 0 26px;
  }

  .bottom-navbar{
    display:block;
  }
}

@media screen and (max-width: 767px) {
  .heroSection {
    background-image: url('./photo/i-CABLE Broadband_1000M_Hero Image_mobile_375px.png');
    padding-top:138.2%
  }

  .why-explanation {
    display: grid;
    grid-template-columns: minmax(auto, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    max-width: 1440px;
    margin: auto;
    padding: 0 10px;
  }

  .why-icon {
    max-width: 30%;
  }

  .why-explanation-detail{
    padding: 10px 24px;
  }
  
  .footer-page {
    line-height: 22px;
  }
}


@media screen and (max-width: 479px) {
  .heroSection {
    background-image: url('./photo/i-CABLE Broadband_1000M_Hero Image_mobile_375px.png');
    padding-top:138.2%;
  }
}